
.header__log{
  float: left;
  color: #000080;
  font-weight: bolder;
}
.header__nav{
  color: #000080;
  font-weight: bolder;
}
.nav__ul{
  display: flex;
  justify-content: flex-end;
list-style: none;
}
.nav__list{
  margin: 0 10px;
}
.main{
  position: relative;
}
.main__img {
  text-align: right;
  position: relative;
  z-index: 2; 
  
}
.img{
  width: 50%;
  height: auto;
  margin-top: 100px;
}
.main__box{
  background-color: #000080;
  width: 70%;
  height: 200px;
  position: absolute;
  bottom: -10%;
  z-index: 0;
  }
.main__txst{
  position: absolute;
  bottom: 20px;
  font-size: 100px;
}
